apscheduler==3.5.3
consul_kv==0.7.2
python-etcd==0.4.5
Flask==1.0.2
Flask-API==1.0
Flask-Cors==3.0.6
Flask-Log-Request-ID==0.10.0
flask-oidc==1.4.0
gunicorn==19.9.0
PyJWT==1.7.1
prometheus-client==0.4.2
requests==2.20.0
cryptography==2.4.2
jinja2==2.10.1