@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/opensans-regular.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/opensans-semibold.woff") format("woff");
}

@font-face {
    font-family: "Patua One";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/patuaone-regular.woff") format("woff");
}